.h-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  .h-header {
    height: 80px;
    display: flex;
    .h-header-left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      .h-header-title {
        font-size: 25px;
        font-weight: 500;
      }
      .h-header-description {
        font-size: 11px;
        color: gray;
      }
    }
    .h-header-right {
      display: flex;
      align-items: center;
    }
  }
  .h-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }
}
