.forgetPassForm {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: center;
}
.fogotPass_content_header {
}
.fogotPass_content_desc {
  font-weight: normal;
  margin: 10px 0 30px 0;
  font-size: 16px;
}
.fogotPass_content_buttons {
  margin-top: 0px;
  button {
    width: 100%;
  }
}
.fogotPass_content_footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  span {
    padding: 0 5px;
  }
}

.forgetPassSuccess {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  &__message {
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
    padding: 10px 0;
    color: gray;
  }
  button {
    align-self: center;
    width: 100%;
    margin-top: 20px;
  }
}

//==============
.forgetPass-cls-1 {
  fill: #002d75;
}
.forgetPass-cls-2 {
  fill: #001d4c;
}
.forgetPass-cls-3 {
  fill: #f5f5f5;
}
.forgetPass-cls-4 {
  fill: #b0ceff;
}
.forgetPass-cls-5 {
  fill: #629eff;
}
.forgetPass-cls-6 {
  fill: #d1e6f2;
}
.forgetPass-cls-7 {
  fill: #1a4a46;
}
.forgetPass-cls-8 {
  fill: #29766f;
}
.forgetPass-cls-9 {
  fill: #01293d;
}
.forgetPass-cls-10 {
  fill: #33938a;
}
.forgetPass-cls-11 {
  fill: #102d2b;
}
.forgetPass-cls-12 {
  fill: #f2ce99;
}
.forgetPass-cls-13 {
  fill: #ffdea9;
}
.forgetPass-cls-14 {
  fill: #001725;
}
.forgetPass-cls-15 {
  fill: #010202;
}
.forgetPass-cls-16 {
  fill: #1f5954;
}
.forgetPass-cls-17 {
  fill: #fff;
}
.forgetPassSuccess-cls-1 {
  isolation: isolate;
}
.forgetPassSuccess-cls-2 {
  fill: #002d75;
}
.forgetPassSuccess-cls-3 {
  fill: #001d4c;
}
.forgetPassSuccess-cls-4 {
  fill: #f5f5f5;
}
.forgetPassSuccess-cls-5 {
  fill: #629eff;
}
.forgetPassSuccess-cls-6 {
  fill: #d4d4d4;
}
.forgetPassSuccess-cls-19,
.forgetPassSuccess-cls-6 {
  mix-blend-mode: multiply;
}
.forgetPassSuccess-cls-7 {
  fill: #1a4a46;
}
.forgetPassSuccess-cls-8 {
  fill: #3c5bbf;
}
.forgetPassSuccess-cls-9 {
  fill: #29766f;
}
.forgetPassSuccess-cls-10 {
  fill: #01293d;
}
.forgetPassSuccess-cls-11 {
  fill: #33938a;
}
.forgetPassSuccess-cls-12 {
  fill: #1f5954;
}
.forgetPassSuccess-cls-13 {
  fill: #102d2b;
}
.forgetPassSuccess-cls-14 {
  fill: #ffdea9;
}
.forgetPassSuccess-cls-15 {
  fill: #001725;
}
.forgetPassSuccess-cls-16 {
  fill: #0051d5;
}
.forgetPassSuccess-cls-17 {
  fill: #116cff;
}
.forgetPassSuccess-cls-18 {
  fill: #0042ae;
}
.forgetPassSuccess-cls-19 {
  fill: #e2d1a6;
}
