.table {
  padding: 0 !important;
  min-height: 370px;
}
.header {
  border-bottom: 1px solid whitesmoke;
  padding: 10px 15px;
  span {
    font-size: 17px;
    font-weight: 500;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  display: flex;
  padding: 10px 15px;
  align-items: center;
  &:not(:last-child) {
    border-bottom: 1px solid whitesmoke;
  }
  .index {
    width: 25px;
    border-radius: 4px;
    height: 25px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
  }
  .imageBox {
    width: 50px;
    img {
      width: 50px;
    }
  }
  .textBox {
    span {
      font-size: 13px;
    }
  }
  .label {
    padding: 5px 10px;
  }
  .date {
    font-size: 13px;
  }
}
