.input {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 10px !important;
  border: none;
  background-color: whitesmoke;
  &:focus {
    outline: none;
  }
  &:focus:invalid {
    // border-bottom: 3px solid red;
  }
}
